<igx-input-group placeholder="placeholder" type="border" class="input-group">
  <label igxLabel for="inputField"></label>
  <input type="text" name="inputField" [required]="false" [disabled]="false" placeholder="placeholder" igxInput />
</igx-input-group>
<igx-input-group type="border" class="input-group_1">
  <label igxLabel for="inputField"></label>
  <input type="text" name="inputField" [required]="false" [disabled]="false" igxInput />
</igx-input-group>
<igx-input-group type="border" class="input-group_2">
  <label igxLabel for="inputField"></label>
  <input type="text" name="inputField" [required]="false" [disabled]="false" igxInput />
</igx-input-group>
<h3 class="title">Organized by</h3>
<h3 class="title_1">Description</h3>
<h3 class="title_2">Title</h3>
<h2 class="title_3">Create Charity Flow</h2>
<h3 class="title_4">Inputs</h3>
<igx-radio-group value="money, efforts good" [required]="true" class="radio-group">
  <igx-radio class="radio-item">Money</igx-radio>
  <igx-radio class="radio-item">Efforts</igx-radio>
  <igx-radio class="radio-item">Goods</igx-radio>
</igx-radio-group>
<button igxButton="raised" igxButtonColor="var(--igx-grays-800)" igxButtonBackground="var(--igx-grays-500)" [disabled]="false" class="button">
  <span>Create</span>
</button>
<button igxButton="raised" igxButtonColor="var(--igx-grays-800)" igxButtonBackground="var(--igx-grays-400)" [disabled]="false" class="button_1">
  <span>cancel</span>
</button>
